{% if add %}
    <div>
        Wynik dodawania: {{ add }}
    </div>
{% endif %}
{% if sub %}
    <div>
        Wynik odejmowania: {{ sub }}
    </div>
{% endif %}
{% if multip %}
    <div>
        Wynik mnozenia: {{ multip }}
    </div>
{% endif %}
{% if divide %}
    <div>
        Wynik dzielenia: {{ divide }}
    </div>
{% endif %}
{% if countOperation>0 %}
    <div>
        Liczba wykonanych operacji: {{ countOperation }}
    </div>
{% endif %}
